@import 'tailwindcss';

.body {
    color: black;
    display: flex;
    font-family: 'Tahoma';
    text-align: justify;
    min-height: min(90vh, 500px);
    height: 85vh;
    justify-content: center;
}

.body p {
    padding: 10px;
}

.mainbody {
    background-color: rgb(246,228,202);
    padding: 10px;
}